<!-- your html code here -->
<!--Contact-->
<div class="container">
    <div>
        <h1>Contact</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>   
    </div>


    <div>
        <div class="col mb-3 w-50">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your e-mail">
        </div>
        <div class="col mb-3 w-50">
            <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
        </div>
    </div>    

<!--Boton-->
    
        <div class="row">
            <div class="col-sm justify-content-end">
                <button type="button" class="btn btn-primary d-flex justify-content-end">Submit</button>
                <button type="button" class="btn btn-link"></button>
            </div>    
        </div>
   
</div> 

