<div class="container bg-white p-5"> <!--abriendo contenedor principal-->
    <div class="row"><!--interno-->
    <div class="col-3">
        <img src="https://vader.news/__export/1616206848723/sites/gadgets/img/2020/09/28/walter_white_amc_breaking_bad.jpg_419071496.jpg" class="rounded-circle" style="width: 150px;" alt="Mi imagen">
    
    </div>
    <div class="col-9">
        <h1>
            <span style="display: inline-block; width: 45%; color: black;">The 2n Heading</span>
            <span style="display: inline-block; width: 55%; color: gray; float: right;">Is Pretty Cool Too.</span>
          </h1>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis </p>
        
    </div>
    
    </div>
    
    </div>